
#casal-container {
 
 display: flex;
 
 align-items: center;
 
}
 
#casal {
 
 position: absolute;
 
 right: 0;
 
 top: 15%;
 
 width: clamp(310px, 45vw, 700px);
 
 z-index: -1;
 
}
 
#titulo-principal {
 
 background: #D9D9D9;
 
 padding: 0px 10px;
 
 width: 70px;
 
 border-radius: 0px 30px 30px 0px;
 
 font-size: 20px;
 
 text-align: center;
 
 margin-top: 77px;
 
 z-index: 2;
 
 position: relative;
 
}
 
#descricao-servicos {
 
 color: rgb(255, 255, 255);
 
 padding: 8px;
 
 font-size: 12px;
 
}
 
.laranja {
 
 color: #FF6B00;
 
}
 
#titulo {
 
 color: white;
 
 font-size: 18px;
 white-space: nowrap;
 
 margin-bottom: 8px;
 
}
 
.destaque {
 
 color: blueviolet;
 
}
 
.imagens-treinamento img {
 
 width: 40%;
 
 margin-left: 25%;
 
}
 
#treinamento {
 
 margin: 0 auto;
 
 padding: 2px;
 
 margin-top: 80px;
 
}
 
#texto_treino {
 
 color: white;
 
 padding: 0 20px;
 
 font-size: 15px;
 
 margin-top: 0;
 
 line-height: 1.4;
 
}
 
.card {
 
 background-color: #2a2a2a;
 
 border-radius: 16px;
 
 border: 1px solid #3a3a3a;
 
 padding: 10%;
 
 margin: 20px 30px;
 
}
 
.card2 {
 
 background-color: #2a2a2a;
 
 border-radius: 16px;
 
 border: 1px solid #3a3a3a;
 
 padding: 10%;
 
 margin: 20px 30px;
 margin-bottom: 50px;
 
}
 
#exercicios img {
 
 width: 40%;
 
 margin-left: 25%;
 
}
 
.roxo {
 
 color: #8B00FF;
 
}
 
#educativo {
 
 margin: 0 auto;
 
 color: rgb(255, 255, 255);
 
 font-size: 18px;
 
 white-space: nowrap;
 
 margin-bottom: 8px;
 
}
 
#Acesso {
 
 color: rgb(255, 255, 255);
 
 padding: 0 20px;
 
 font-size: 15px;
 
 margin-top: 0;
 
 line-height: 1.4;
 
}
 
#profissionais {
 padding: 50px 0; /* aumente esse valor conforme precisar */
}
 
#auxilio {
 
 margin: 0 auto;
 
 color: #fff;
 
 font-size: 18px;
 
 white-space: nowrap;
 
 margin-bottom: 20px;
 
 margin-left: 25%;
 
}
 
#personal {
 
 color: #fff;
 
 padding: 0 50px;
 
 font-size: 15px;
 
 margin-top: 20px;
 
 line-height: 1.4;
 
}
 
#leonida img {
 
 width: 50px;
 
 margin-left: 85%;
 
 transform-origin: center;
 
}
 
#ia {
 
 color: white;
 
 padding: 0 20px;
 
 font-size: 15px;
 
 margin-top: 0;
 
 line-height: 1.4;
 
}
 
.texto2 {
 
 background-color: #373737;
 
 border-radius: 16px 16px 16px 16px;
 
 padding: 20px;
 
}
 
#leonida {
 
 margin-left: 15%;
 
}
 
#musculacao img {
 width: 80%;
 max-width: 350px;
 margin: 0 auto;
 display: block;
}
 
@media (min-width: 375px) {
 
 .imagens-treinamento {
 
 margin-left: 25px;
 
 }
 
 #exercicios {
 
 margin-left: 25px;
 
 }
 
 #casal {
 
 width: 96%
 
 }
 
}
 
@media (min-width: 400px) {
 
 #casal {
 
 width: 96%
 
 }
 
 #descricao-servicos {
 
 font-size: 15px;
 
 }
 
 #titulo-principal {
 
 width: 90px;
 
 font-size: 25px;
 
 }
 
 .card {
 
 margin-top: 10%;
 
 }
 
 .card2 {
 
 margin-top: 10%;
 
 }
 
 #auxilio {
 
 margin-left: 32%;
 
 }
 
}
 
@media (min-width: 455px) {
 
 .card {
 
 margin-top: 15%;
 
 }
 
 .card2 {
 
 margin-top: 15%;
 
 }
 
}
 
@media (min-width: 520px) {
 
 .card {
 
 margin-top: 20%;
 
 }
 
 .card2 {
 
 margin-top: 20%;
 
 }
 
 #titulo {
 
 font-size: 20px;
 
 }
 
 #texto_treino {
 
 font-size: 18px;
 
 }
 
 #educativo {
 
 margin-left: 10%;
 
 font-size: 20x;
 
 }
 
 #Acesso {
 
 font-size: 18px;
 
 }
 
}
 
@media (min-width: 580px) {
 
 #titulo-principal {
 width: 130px;
 font-size: 30px;
 }
 
 #descricao-servicos {
 
 font-size: 18px;
 
 }
 
}
 
@media (min-width: 700px) {
 
 .card {
 
 display: flex;
 
 flex-direction: row-reverse;
 
 background: transparent;
 
 border: none;
 
 box-shadow: none;
 
 border-radius: 0;
 
 padding: 0;
 
 margin-top: 30%;
 
 }
 
 .imagens-treinamento {
 
 width: 65%;
 
 position: relative;
 
 left: 13%;
 
 }
 
 #texto_treino {
 
 font-size: 15px;
 
 }
 
 #titulo {
 
 margin-bottom: 20px;
 
 margin-left: 30px;
 
 }
 
 #texto_treino {
 
 margin-left: 30px;
 
 }
 
 .card2 {
 
 display: flex;
 
 background: transparent;
 
 border: none;
 
 box-shadow: none;
 
 border-radius: 0;
 
 padding: 0;
 
 }
 
 #exercicios {
 
 width: 60%;
 
 margin-left: -10%;
 
 }
 
 #texto_treino {
 
 font-size: 15px;
 
 }
 
 #profissionais {
 
 margin-top: 15%;
 
 }
 
 #educativo {
 
 margin-bottom: 20px;
 
 }
#musculacao {
 flex-shrink: 0;
}
 
 .conteudo-auxilio {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 gap: 30px;
}
 
.texto-auxilio {
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-left: 4%;
 
}
 
#auxilio {
 text-align: left;
 margin: 10px 0 10px 0;
 font-size: 25px;
}
 
#personal {
 margin: 0;
 padding-left: 18px;
 font-size: 18px;
}
 
#musculacao img {
 width: 300px;
 border-radius: 8px;
 margin-left: -10%;
}
 
#leonidat{
 margin-left: 34%;
 margin-top: 3%;
 
}
 
.texto2{
 background-color: #373737;
 border-radius: 16px 16px 16px 16px;
 padding: 20px;
 width: 60%;
 margin-left: 15%;
 
}
 .container {
 max-width: 1100px;
 margin: 0 auto;
}
 
.card,
.card2,
.conteudo-auxilio {
 justify-content: center;
 align-items: center;
}
 
.card-texto,
.texto-auxilio {
 max-width: 450px;
}
 
#treinamento,
#biblioteca,
#profissionais {
 display: flex;
 justify-content: center;
}
 
#titulo,
#educativo,
#auxilio {
 text-align: left;
}
 
#leonidat,
.texto2 {
 margin-left: auto;
 margin-right: auto;
}
}
 

 @media (min-width:1000px) {
 #casal{
 width: 70%;
 }
 #titulo-principal {
 font-size: 40px;
 padding: 0px 30px;
 }
 #descricao-servicos{
 font-size: 20px;
 }
 .imagens-treinamento{
 width: 550px;
 }
 #titulo{
 font-size: 30px;
 }
 #texto_treino{
 font-size:20px;
 }
 .card{
 margin-top: 20%;
 }
 .card2{
 gap: 200px;
 }
 #exercicios img{
 width: 200px;
 }
 #educativo{
 font-size: 30px;
 }
 #Acesso{
 font-size: 20px;
 }
 #profissionais{
 margin-top: 0;
 }
 }
 
 @media (min-width:1200px) {
 .imagens-treinamento img{
 width:150px;
 margin-top: 30px;
 
 }
 
 }

